body {
	background-color: #101010;
	color: #ffffff;

	font-family: 'Raleway', sans-serif;

	overflow-x: hidden;
}

input {
	color: inherit;
	padding: 0.75rem;
	width: 22ch;
	background-color: #0000;
	border: 1px solid #CCC9;
	border-radius: 20px;
	border-bottom-right-radius: 0;
	margin: 0.5rem 2rem;
	width: calc(100% - 4rem);
	transition: border-color 250ms, outline 250ms;
}

button {
	margin: 0.5em;
	margin-left: 2rem;
	background: none;
	border: 1px solid #CCC9;
	border-radius: 20px;
	border-bottom-right-radius: 0;
	color: inherit;
	padding: 0.75rem;
	transition: border-color 250ms, outline 250ms, brightness 100ms, color 100ms;
}

button:hover:not(disabled), input:hover {
	border-color: #CCCC;
	background-color: #F1C40F08;
}

button:focus:not(disabled), input:focus {
	border-color: #F1C40F;
	outline: solid #F1C40F;
}

button[disabled] {
	filter: brightness(0.8);
	color: #CCCC;
}

button {
	min-width: 5rem;
}
a {
	color: #3498db;
}

a:hover {
	filter: brightness(1.1);
}

a:visited {
	color: #3498db;
}

