body {
	background-color: #101010;
	color: #ffffff;

	font-family: 'Raleway', sans-serif;

	overflow-x: hidden;
}

input {
	color: inherit;
	padding: 0.75rem;
	width: 22ch;
	background-color: #0000;
	border: 1px solid #ccc9;
	border-radius: 20px;
	border-bottom-right-radius: 0;
	margin: 0.5rem 2rem;
	width: calc(100% - 4rem);
	transition: border-color 250ms, outline 250ms;
}

button {
	margin: 0.5em;
	margin-left: 2rem;
	background: none;
	border: 1px solid #ccc9;
	border-radius: 20px;
	border-bottom-right-radius: 0;
	color: inherit;
	padding: 0.75rem;
	transition: border-color 250ms, outline 250ms, brightness 100ms, color 100ms;
}

button:hover:not(disabled),
input:hover {
	border-color: #cccc;
	background-color: #f1c40f08;
}

button:focus:not(disabled),
input:focus {
	border-color: #f1c40f;
	outline: solid #f1c40f;
}

button[disabled] {
	filter: brightness(0.8);
	color: #cccc;
}

button {
	min-width: 5rem;
}
a {
	color: #3498db;
}

a:hover {
	filter: brightness(1.1);
}

a:visited {
	color: #3498db;
}

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
