body {
	background-color: #101010;
	color: #ffffff;

	font-family: 'Raleway', sans-serif;

	overflow-x: hidden;
}

:root {
	--yellow: #f1c40f;
	--blue: #3498db;
	--red: #e74c3c;
	--green: #1abc9c;
	--purple: #9b59b6;
	--orange: #e67e22;
	--grey: #ccc9;
	--gray: #ccc9;
	--dim: #898989;
	--bg: #131313;
}

input {
	color: inherit;
	padding: 0.75rem;
	width: 22ch;
	background-color: #0000;
	border: 1px solid var(--grey);
	border-radius: 20px;
	border-bottom-right-radius: 0;
	margin: 0.5rem 2rem;
	width: calc(100% - 4rem);
	transition: border-color 250ms, outline 250ms;
}

button {
	margin: 0.5em;
	margin-left: 2rem;
	background: none;
	border: 1px solid var(--grey);
	border-radius: 20px;
	border-bottom-right-radius: 0;
	color: inherit;
	padding: 0.75rem;
	transition: border-color 250ms, outline 250ms, brightness 100ms, color 100ms;
}

button:hover:not(disabled),
input:hover {
	border-color: #cccc;
	background-color: #f1c40f08;
}

button:focus:not(disabled),
input:focus {
	border-color: var(--yellow); /* YELLOW */
	outline: solid var(--yellow);
}

button[disabled] {
	filter: brightness(0.8);
	color: #cccc;
}

button {
	min-width: 5rem;
}
a {
	color: var(--blue);
}

a:hover {
	filter: brightness(1.1);
}

a:visited {
	color: var(--blue);
}

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: var(--yellow);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

.overlay {
	width: 100vw;
	height: 100vh;
	background-color: #0007;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.dim {
	color: var(--dim);
}

.ProseMirror abbr {
	border-bottom: 1px dotted;
}

.ProseMirror cite {
	font-style: italic;
}

.ProseMirror hr {
	background: var(--dim);
	border: none;
	display: block;
	height: 1px;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}

.ProseMirror {
	outline: none;
}

.ProseMirror-gapcursor:after {
	border-color: white;
}

.ProseMirror-dropcursor:after {
	border-color: white;
}

.ProseMirror-selectednode {
	background-color: #fff000;
}

p {
	margin-top: 0;
}

blockquote {
	border-left: 4px solid var(--dim);
	padding: 0.6em 1.2em;
	margin-left: 0;
}

blockquote p {
	margin: 0;
}

ol,
ul {
	margin-bottom: 0.3em;
}

ol p,
ul p {
	margin: 0;
}

pre {
	padding: 1em;
	background: var(--bg);
}

.note :first-child:is(h1),
.note :first-child:is(h2),
.note :first-child:is(h3),
.note :first-child:is(h4),
.note :first-child:is(h5),
.note :first-child:is(h6) {
	margin-top: 0;
}

button.f-button {
	justify-content: flex-end;
}
